In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [ ]:
scores_phase = pd.read_csv('../data/ec109_mismatch_old_match_old_phase_scores.csv')

In [2]:
df = pd.read_csv('../data/mismatch_old_behav_ec109.csv')

In [6]:
def normalize_data(df, keep_pow, keep_phase):
    # z-score within block
    gb = df.groupby(['elecs', 'freqs', 'blockno'])
    if keep_pow:
        df['zpow'] = gb['pow'].apply(zscore)
    if keep_phase:
        df['sin'] = gb['phase'].apply(np.sin)
        df['cos'] = gb['phase'].apply(np.cos)

    df.drop(['pow', 'phase'], inplace=True, axis=1)
    return df

def zscore(x):
    ''' computes z score on value within a series of data '''
    z = (x - np.mean(x)) / np.std(x)
    return z
def downsample_timeseries(timearray, newsamplerate):
    alltimes = timearray.time.unique()
    times_to_keep = alltimes[0:len(alltimes):newsamplerate]
    downsampled = timearray.set_index('time')
    downsampled = downsampled.loc[times_to_keep,:]
    downsampled = downsampled.reset_index()
    return downsampled

In [ ]:
df = normalize_data(df, keep_pow=True, keep_phase=True)

In [8]:
df = downsample_timeseries(df, 10)

In [12]:
df

,time,events,blockno,elecs,freqs,response,view1,view2,view3,zpow,sin,cos
0,1,1,1,1,1,2,0.509735,0.300050,0.035447,-1.178307,-0.891686,-0.452654
1,1,2,1,1,1,2,0.575637,0.300050,0.035447,-1.889750,0.703466,0.710729
2,1,3,1,1,1,2,0.583125,0.351473,0.035447,-0.716471,-0.851743,-0.523960
3,1,4,1,1,1,2,0.583125,0.303545,0.104843,-0.240946,-0.157656,0.987494
4,1,5,1,1,1,2,0.583125,0.250624,0.137294,-1.246163,-0.984338,-0.176294
5,1,6,1,1,1,2,0.583125,0.100849,0.137294,-0.590211,-0.266463,-0.963845
6,1,7,1,1,1,2,0.583125,0.100849,0.137294,-0.062463,-0.128450,0.991716
7,1,8,1,1,1,2,0.108337,0.099850,0.126810,-0.212878,0.985507,0.169635
8,1,9,1,1,1,1,0.222167,0.416375,0.156266,-0.537026,-0.383824,0.923406
9,1,10,1,1,1,1,0.222167,0.461308,0.156266,-0.066280,0.841594,-0.540110
10,1,11,1,1,1,1,0.407389,0.209685,0.156266,-1.865721,-0.937459,0.348096
11,1,12,1,1,1,1,0.257114,0.209685,0.156266,0.227796,-0.984658,-0.174496
12,1,13,1,1,1,2,0.134299,0.361458,0.096855,0.841184,-0.081476,-0.996675
13,1,14,1,1,1,2,0.134299,0.410884,0.096855,0.821481,0.658767,0.752347
14,1,15,1,1,1,2,0.166251,0.243635,0.280080,-0.310372,-0.968971,0.247173
15,1,16,1,1,1,2,0.166251,0.243635,0.280080,-0.251207,0.835098,0.550102
16,1,17,1,1,1,2,0.166251,0.190215,0.280080,-0.975378,-0.989166,-0.146801
17,1,18,1,1,1,1,0.244134,0.407888,0.109835,-0.308467,0.368366,0.929681
18,1,19,1,1,1,1,0.270095,0.407888,0.109835,0.420798,-0.512545,-0.858661
19,1,20,1,1,1,1,0.307039,0.407888,0.109835,0.579182,-0.146021,0.989281
20,1,21,1,1,1,1,0.520719,0.226161,0.180230,0.404864,-0.012104,0.999927
21,1,22,1,1,1,1,0.520719,0.226161,0.151273,0.324444,-0.406424,-0.913685
22,1,23,1,1,1,1,0.469296,0.226161,0.092861,-0.765838,-0.361719,-0.932287
23,1,24,1,1,1,1,0.378932,0.179231,0.092861,-0.469942,0.775755,-0.631034
24,1,25,1,1,1,1,0.378932,0.000000,0.092861,-0.530679,-0.389304,0.921109
25,1,26,1,1,1,1,0.228158,0.526710,0.197204,-0.114335,-0.984809,-0.173639
26,1,27,1,1,1,1,0.144783,0.541188,0.227159,-0.148815,0.976545,-0.215312
27,1,28,1,1,1,1,0.144783,0.541188,0.268597,-0.053468,-0.800027,0.599964
28,1,29,1,1,1,2,0.359960,0.457314,0.115327,0.499227,-0.635075,0.772451
29,1,30,1,1,1,2,0.359960,0.522217,0.115327,0.872325,-0.695258,-0.718760
...,...,...,...,...,...,...,...,...,...,...,...,...
2667570,751,88,1,6,50,1,0.197204,0.215177,0.425362,1.220327,0.414492,-0.910053
2667571,751,89,1,6,50,1,0.060409,0.000000,0.660010,1.568928,0.908162,-0.418619
2667572,751,90,1,6,50,2,0.108337,0.416875,0.125811,0.795915,0.955877,0.293768
2667573,751,91,1,6,50,2,0.108337,0.417374,0.167249,1.041898,-0.019604,-0.999808
2667574,751,92,1,6,50,2,0.135297,0.445332,0.145282,-0.149624,-0.492984,-0.870038
2667575,751,93,1,6,50,2,0.145282,0.470295,0.145282,-1.251457,0.764197,-0.644983
2667576,751,94,1,6,50,2,0.145282,0.513729,0.145282,-1.209502,0.963098,0.269151
2667577,751,95,1,6,50,1,0.510235,0.342486,0.000000,-0.881070,-0.745968,0.665982
2667578,751,96,1,6,50,1,0.557664,0.342486,0.000000,-0.895546,-0.362207,-0.932098
2667579,751,97,1,6,50,1,0.618572,0.277584,0.000000,1.332208,-0.973261,0.229701
2667580,751,98,1,6,50,1,0.654019,0.277584,0.000000,0.143427,0.755390,-0.655276
2667581,751,99,1,6,50,1,0.749875,0.169246,0.000000,1.183057,-0.233052,0.972464
2667582,751,100,1,6,50,1,0.692461,0.169246,0.000000,-0.906721,-0.055744,-0.998445
2667583,751,101,1,6,50,1,0.196705,0.465302,0.228158,-1.745419,-0.995001,0.099860
2667584,751,102,1,6,50,1,0.196705,0.465801,0.269596,0.462616,-0.999370,0.035490
2667585,751,103,1,6,50,1,0.196705,0.449825,0.312531,-1.594221,0.532169,-0.846638
2667586,751,104,1,6,50,1,0.092861,0.170245,0.221168,1.320027,-0.268714,0.963220
2667587,751,105,1,6,50,1,0.135297,0.342486,0.257114,0.185324,-0.038392,-0.999263
2667588,751,106,1,6,50,1,0.135297,0.342486,0.301048,-1.244150,-0.943669,-0.330890
2667589,751,107,1,6,50,3,0.200699,0.436345,0.115826,-0.090643,0.575602,-0.817730
2667590,751,108,1,6,50,3,0.200699,0.436345,0.162257,0.772021,0.205451,-0.978667
2667591,751,109,1,6,50,3,0.208687,0.245132,0.299551,-0.207564,-0.995180,-0.098060
2667592,751,110,1,6,50,3,0.108837,0.245132,0.188717,0.976961,0.543955,-0.839114
2667593,751,111,1,6,50,2,0.152771,0.247629,0.489765,0.492321,0.815260,0.579095
2667594,751,112,1,6,50,2,0.152771,0.208188,0.489765,-0.622705,-0.654228,0.756298
2667595,751,113,1,6,50,2,0.289066,0.413380,0.144284,0.785753,-0.324050,0.946040
2667596,751,114,1,6,50,2,0.289066,0.456316,0.144284,0.948135,0.859593,0.510980
2667597,751,115,1,6,50,2,0.176735,0.590115,0.144284,-0.178204,-0.643570,-0.765387
2667598,751,116,1,6,50,2,0.155267,0.382426,0.086370,-1.106188,-0.084576,0.996417
2667599,751,117,1,6,50,2,0.155267,0.382426,0.038942,-0.910176,0.749793,0.661673

In [99]:
df['view1-3'] = df['view1'] - df['view3']

In [113]:
y= df.loc[:,'view1-3']
X= df.loc[:,['elecs', 'blockno']]

In [114]:
x_train, x_test, y_train, y_test = train_test_split(X,y, test_size=.2)

In [84]:
sorted(sklearn.metrics.SCORERS.keys())

['accuracy',
 'adjusted_mutual_info_score',
 'adjusted_rand_score',
 'average_precision',
 'balanced_accuracy',
 'brier_score_loss',
 'completeness_score',
 'explained_variance',
 'f1',
 'f1_macro',
 'f1_micro',
 'f1_samples',
 'f1_weighted',
 'fowlkes_mallows_score',
 'homogeneity_score',
 'mutual_info_score',
 'neg_log_loss',
 'neg_mean_absolute_error',
 'neg_mean_squared_error',
 'neg_mean_squared_log_error',
 'neg_median_absolute_error',
 'normalized_mutual_info_score',
 'precision',
 'precision_macro',
 'precision_micro',
 'precision_samples',
 'precision_weighted',
 'r2',
 'recall',
 'recall_macro',
 'recall_micro',
 'recall_samples',
 'recall_weighted',
 'roc_auc',
 'v_measure_score']

In [116]:
alphas = np.array([10,50,100])
ridgecv = RidgeCV(alphas=alphas, fit_intercept=False, cv=None, scoring ='neg_mean_squared_error')
ridgecv.fit(x_train, y_train)

RidgeCV(alphas=array([ 10,  50, 100]), cv=None, fit_intercept=False,
    gcv_mode=None, normalize=False, scoring='neg_mean_squared_error',
    store_cv_values=False)

In [117]:
ridgecv.intercept_

0.0

In [118]:
y_preds = ridgecv.predict(x_test)
y_preds

array([2.37508502e-07, 2.37508502e-07, 2.37508502e-07, ...,
       2.37508502e-07, 2.37508502e-07, 2.37508502e-07])

In [119]:
mean_squared_error(y_test, y_preds)

0.0887066931940309

In [105]:
dic = {'preds':y_preds, 'labels':y_test}
pd.DataFrame(dic)

            labels     preds
8174676  -0.072891  0.146806
14776699  0.302047  0.155566
5372959  -0.018472  0.152711
21242853 -0.123814  0.145315
10502008  0.692461  0.147704
21286489 -0.018472  0.154038
20328667  0.259611  0.149462
12237454  0.445831  0.157441
10725427  0.030954  0.157873
5370496  -0.165751  0.156818
9623171   0.510235  0.152921
872800    0.692461  0.154430
22361204  0.001997  0.156027
21111835 -0.058912  0.157482
3694833   0.749875  0.159794
7734673   0.037444  0.156246
19249297  0.302047  0.142264
15888766  0.376435  0.148338
5290501   0.259611  0.155022
17694040  0.068897  0.149479
14454799 -0.114828  0.151122
9217017  -0.121817  0.146858
22160520  0.474289  0.151131
12378462  0.257114  0.154904
3326709   0.000000  0.154345
19252853  0.257114  0.152088
17387260  0.144284  0.144883
4566549   0.065901  0.150121
1421787   0.065901  0.152257
13939815  0.749875  0.149623
...            ...       ...
19303436  0.292561  0.156513
4021752  -0.336995  0.145296
11394435 -0.113829  0.153067
3688808  -0.009985  0.155161
9106255   0.540190  0.152244
2187146   0.302047  0.152651
6206614  -0.113829  0.154484
6980137  -0.114828  0.148769
17239872 -0.140290  0.149775
14901984 -0.072891  0.158042
8019110  -0.114828  0.150272
8427545   0.116326  0.150227
13817292  0.259611  0.151878
9134416   0.251123  0.151296
10898559  0.302047  0.143763
14161593 -0.113829  0.158240
8229321   0.302047  0.164413
7439654  -0.009985  0.152104
10736964 -0.140290  0.152359
16110102  0.160260  0.151188
20719014  0.302047  0.140959
10552448  0.292561  0.155734
17929050  0.474289  0.156709
5029282   0.579131  0.152110
10536705  0.478283  0.149924
9096005  -0.272591  0.149628
18092186  0.292561  0.151466
466901    0.257114  0.150179
19176412  0.445831  0.157169
16387472  0.001997  0.156092

[4596120 rows x 2 columns]

In [60]:
newdf = pd.DataFrame()
for inds, df in data.groupby(by=['events', 'elecs', 'freqs', 'blockno']):
    tmp = df.iloc[0:751,:]
    break
    tmp = tmp.resample('25ns', on='datetime').mean()
    tmp.reset_index(drop=True, inplace=True)
    newdf = pd.concat([newdf, tmp])
newdf = newdf.round({'time':0})    
newdf.reset_index(drop=True, inplace=True)

In [ ]:
dsrate=15
ds_string = f'{dsrate}ns'

In [33]:
x = pd.DataFrame(np.arange(-750,751,step=2),index=np.arange(1,752), columns=['time'])
x

     time
1    -750
2    -748
3    -746
4    -744
5    -742
6    -740
7    -738
8    -736
9    -734
10   -732
11   -730
12   -728
13   -726
14   -724
15   -722
16   -720
17   -718
18   -716
19   -714
20   -712
21   -710
22   -708
23   -706
24   -704
25   -702
26   -700
27   -698
28   -696
29   -694
30   -692
..    ...
722   692
723   694
724   696
725   698
726   700
727   702
728   704
729   706
730   708
731   710
732   712
733   714
734   716
735   718
736   720
737   722
738   724
739   726
740   728
741   730
742   732
743   734
744   736
745   738
746   740
747   742
748   744
749   746
750   748
751   750

[751 rows x 1 columns]

In [48]:
xx = tmp.resample('15ns', on='datetime').mean()
xx = xx.round({'time':0})

In [50]:
t_idx = np.arange(1,126)
t_idx

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125])

In [54]:
xx.loc[(xx['time'].isin(t_idx))]

,events,blockno,elecs,freqs,time,pow,phase,response,view1,view2,view3
datetime,,,,,,,,,,,
1970-01-01 00:00:00.000000000,1.0,1.0,1.0,1.0,8.0,2.389981,-1.849062,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000015,1.0,1.0,1.0,1.0,22.0,2.217858,-1.447794,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000030,1.0,1.0,1.0,1.0,37.0,2.042263,-1.078791,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000045,1.0,1.0,1.0,1.0,52.0,1.884469,-0.760976,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000060,1.0,1.0,1.0,1.0,67.0,1.766920,-0.489638,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000075,1.0,1.0,1.0,1.0,82.0,1.710398,-0.239011,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000090,1.0,1.0,1.0,1.0,97.0,1.719279,0.015471,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000105,1.0,1.0,1.0,1.0,112.0,1.786889,0.306289,2.0,0.509735,0.30005,0.035447

In [ ]:
sns.barplot(x='starttime', y='auc_z', hue='startfreq', data=scores)

In [64]:
df

,events,blockno,elecs,freqs,time,pow,phase,response,view1,view2,view3,datetime
0,1,1,1,1,1,2.464962,-2.040536,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000001
35100,1,1,1,1,2,2.453640,-2.010732,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000002
70200,1,1,1,1,3,2.442230,-1.980846,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000003
105300,1,1,1,1,4,2.430764,-1.950999,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000004
140400,1,1,1,1,5,2.419358,-1.921266,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000005
175500,1,1,1,1,6,2.407965,-1.891733,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000006
210600,1,1,1,1,7,2.396432,-1.862377,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000007
245700,1,1,1,1,8,2.384698,-1.833303,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000008
280800,1,1,1,1,9,2.372925,-1.804287,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000009
315900,1,1,1,1,10,2.361011,-1.775453,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000010
351000,1,1,1,1,11,2.349040,-1.746659,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000011
386100,1,1,1,1,12,2.337226,-1.717884,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000012
421200,1,1,1,1,13,2.325517,-1.689386,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000013
456300,1,1,1,1,14,2.313969,-1.661408,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000014
491400,1,1,1,1,15,2.302417,-1.633869,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000015
526500,1,1,1,1,16,2.290651,-1.606724,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000016
561600,1,1,1,1,17,2.278637,-1.579798,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000017
596700,1,1,1,1,18,2.266400,-1.552812,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000018
631800,1,1,1,1,19,2.254106,-1.525753,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000019
666900,1,1,1,1,20,2.241867,-1.498751,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000020
702000,1,1,1,1,21,2.229666,-1.472082,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000021
737100,1,1,1,1,22,2.217582,-1.445695,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000022
772200,1,1,1,1,23,2.205607,-1.419688,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000023
807300,1,1,1,1,24,2.193526,-1.393952,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000024
842400,1,1,1,1,25,2.181484,-1.368373,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000025
877500,1,1,1,1,26,2.169434,-1.342808,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000026
912600,1,1,1,1,27,2.157339,-1.317338,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000027
947700,1,1,1,1,28,2.145406,-1.292122,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000028
982800,1,1,1,1,29,2.133748,-1.267148,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000029
1017900,1,1,1,1,30,2.122221,-1.242597,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000030
...,...,...,...,...,...,...,...,...,...,...,...,...
25307100,1,1,1,1,722,1.790504,-0.451362,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000722
25342200,1,1,1,1,723,1.810579,-0.419095,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000723
25377300,1,1,1,1,724,1.830145,-0.386507,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000724
25412400,1,1,1,1,725,1.849035,-0.353782,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000725
25447500,1,1,1,1,726,1.867364,-0.321003,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000726
25482600,1,1,1,1,727,1.885282,-0.288143,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000727
25517700,1,1,1,1,728,1.902723,-0.255126,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000728
25552800,1,1,1,1,729,1.919714,-0.222152,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000729
25587900,1,1,1,1,730,1.936306,-0.189056,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000730
25623000,1,1,1,1,731,1.952409,-0.155923,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000731
25658100,1,1,1,1,732,1.967712,-0.122398,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000732
25693200,1,1,1,1,733,1.982384,-0.088528,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000733
25728300,1,1,1,1,734,1.996802,-0.054674,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000734
25763400,1,1,1,1,735,2.010982,-0.020617,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000735
25798500,1,1,1,1,736,2.025247,0.013581,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000736
25833600,1,1,1,1,737,2.039412,0.047668,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000737
25868700,1,1,1,1,738,2.053284,0.081614,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000738
25903800,1,1,1,1,739,2.066917,0.115495,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000739
25938900,1,1,1,1,740,2.080231,0.149354,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000740
25974000,1,1,1,1,741,2.093248,0.183378,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000741
26009100,1,1,1,1,742,2.105916,0.217581,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000742
26044200,1,1,1,1,743,2.118641,0.251750,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000743
26079300,1,1,1,1,744,2.131369,0.285994,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000744
26114400,1,1,1,1,745,2.143847,0.319900,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000745
26149500,1,1,1,1,746,2.156138,0.353540,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000746
26184600,1,1,1,1,747,2.168271,0.387082,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000747
26219700,1,1,1,1,748,2.180112,0.420656,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000748
26254800,1,1,1,1,749,2.191722,0.454393,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000749
26289900,1,1,1,1,750,2.203314,0.488180,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000750
26325000,1,1,1,1,751,2.214802,0.521921,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000751

In [ ]:
scores.auc_z.dtype

In [ ]:
r1 = data[data['response']==1]

In [ ]:
r1['class']=1
r1['blockno']=1

In [ ]:
keep_pow=False
keep_phase=True

if keep_pow and keep_phase:
    features = 'all'
elif keep_pow and not keep_phase:
    features = 'pow'
elif not keep_pow and keep_phase:
    features= 'phase'  
features

In [ ]:
def gen_wide_df(df, f_idx, t_idx, keep_pow, keep_phase):
    """

    :param df:
    :param f_idx:
    :param t_idx:
    :return: df
    """

    df = df.loc[(df['time'].isin(t_idx)) & (df['freqs'].isin(f_idx))]

    # z-score within block
    gb = df.groupby(['elecs', 'freqs', 'blockno'])
    if keep_pow:
        df['zpow'] = gb['pow'].apply(zscore)
    if keep_phase:
        df['sin'] = gb['phase'].apply(np.sin)
        df['cos'] = gb['phase'].apply(np.cos)

    df.drop(['pow', 'phase'], inplace=True, axis=1)

    df = pd.pivot_table(df,
                        index=['class', 'blockno', 'events'],
                        columns=['elecs', 'freqs', 'time'],
                        aggfunc=[lambda x: x])

    elecs = df.columns.get_level_values('elecs')
    freqs = df.columns.get_level_values('freqs')
    time = df.columns.get_level_values('time')
    ncol = len(elecs)
    df.reset_index(drop=False, inplace=True)
    return df, elecs, freqs, time, ncol

In [ ]:
df, elecs, freqs, time, ncol = gen_wide_df(r1, list(range(1,14)), list(range(1,125)), keep_pow, keep_phase)

In [ ]:
view_conds = [f'view{x}' for x in range(1,4)]
cond='view1'

In [ ]:
view_conds.append('response')
view_conds.remove(cond)

In [ ]:
view_conds

In [ ]:
data.columns

In [ ]:
cols_to_drop = [f'view{x}' for x in range(1,4)]

In [ ]:
cols_to_drop.append('response')

In [ ]:
cols_to_drop.remove(cond)

In [ ]:
cols_to_drop

In [ ]:
cols_to_drop = [f'view{x}' for x in range(1,4)]+['response']

In [ ]:
cols_to_drop

In [ ]:
np.array([10,50,100])