In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
scores_phase = pd.read_csv('../data/ec109_mismatch_old_match_old_phase_scores.csv')

In [2]:
df = pd.read_csv('../data/mismatch_old_behav_ec109.csv')

In [ ]:
def downsample_df(df, dsrate):
    df['datetime'] = pd.to_datetime(df['time'])

In [63]:
tmp.iloc[0:data.time.max(),:]

,events,blockno,elecs,freqs,time,pow,phase,response,view1,view2,view3,datetime
0,1,1,1,1,1,2.464962,-2.040536,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000001
35100,1,1,1,1,2,2.453640,-2.010732,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000002
70200,1,1,1,1,3,2.442230,-1.980846,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000003
105300,1,1,1,1,4,2.430764,-1.950999,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000004
140400,1,1,1,1,5,2.419358,-1.921266,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000005
175500,1,1,1,1,6,2.407965,-1.891733,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000006
210600,1,1,1,1,7,2.396432,-1.862377,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000007
245700,1,1,1,1,8,2.384698,-1.833303,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000008
280800,1,1,1,1,9,2.372925,-1.804287,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000009
315900,1,1,1,1,10,2.361011,-1.775453,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000010
351000,1,1,1,1,11,2.349040,-1.746659,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000011
386100,1,1,1,1,12,2.337226,-1.717884,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000012
421200,1,1,1,1,13,2.325517,-1.689386,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000013
456300,1,1,1,1,14,2.313969,-1.661408,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000014
491400,1,1,1,1,15,2.302417,-1.633869,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000015
526500,1,1,1,1,16,2.290651,-1.606724,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000016
561600,1,1,1,1,17,2.278637,-1.579798,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000017
596700,1,1,1,1,18,2.266400,-1.552812,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000018
631800,1,1,1,1,19,2.254106,-1.525753,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000019
666900,1,1,1,1,20,2.241867,-1.498751,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000020
702000,1,1,1,1,21,2.229666,-1.472082,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000021
737100,1,1,1,1,22,2.217582,-1.445695,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000022
772200,1,1,1,1,23,2.205607,-1.419688,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000023
807300,1,1,1,1,24,2.193526,-1.393952,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000024
842400,1,1,1,1,25,2.181484,-1.368373,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000025
877500,1,1,1,1,26,2.169434,-1.342808,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000026
912600,1,1,1,1,27,2.157339,-1.317338,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000027
947700,1,1,1,1,28,2.145406,-1.292122,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000028
982800,1,1,1,1,29,2.133748,-1.267148,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000029
1017900,1,1,1,1,30,2.122221,-1.242597,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000030
...,...,...,...,...,...,...,...,...,...,...,...,...
25307100,1,1,1,1,722,1.790504,-0.451362,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000722
25342200,1,1,1,1,723,1.810579,-0.419095,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000723
25377300,1,1,1,1,724,1.830145,-0.386507,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000724
25412400,1,1,1,1,725,1.849035,-0.353782,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000725
25447500,1,1,1,1,726,1.867364,-0.321003,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000726
25482600,1,1,1,1,727,1.885282,-0.288143,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000727
25517700,1,1,1,1,728,1.902723,-0.255126,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000728
25552800,1,1,1,1,729,1.919714,-0.222152,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000729
25587900,1,1,1,1,730,1.936306,-0.189056,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000730
25623000,1,1,1,1,731,1.952409,-0.155923,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000731
25658100,1,1,1,1,732,1.967712,-0.122398,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000732
25693200,1,1,1,1,733,1.982384,-0.088528,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000733
25728300,1,1,1,1,734,1.996802,-0.054674,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000734
25763400,1,1,1,1,735,2.010982,-0.020617,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000735
25798500,1,1,1,1,736,2.025247,0.013581,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000736
25833600,1,1,1,1,737,2.039412,0.047668,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000737
25868700,1,1,1,1,738,2.053284,0.081614,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000738
25903800,1,1,1,1,739,2.066917,0.115495,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000739
25938900,1,1,1,1,740,2.080231,0.149354,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000740
25974000,1,1,1,1,741,2.093248,0.183378,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000741
26009100,1,1,1,1,742,2.105916,0.217581,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000742
26044200,1,1,1,1,743,2.118641,0.251750,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000743
26079300,1,1,1,1,744,2.131369,0.285994,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000744
26114400,1,1,1,1,745,2.143847,0.319900,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000745
26149500,1,1,1,1,746,2.156138,0.353540,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000746
26184600,1,1,1,1,747,2.168271,0.387082,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000747
26219700,1,1,1,1,748,2.180112,0.420656,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000748
26254800,1,1,1,1,749,2.191722,0.454393,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000749
26289900,1,1,1,1,750,2.203314,0.488180,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000750
26325000,1,1,1,1,751,2.214802,0.521921,2,0.509735,0.30005,0.035447,1970-01-01 00:00:00.000000751

In [60]:
newdf = pd.DataFrame()
for inds, df in data.groupby(by=['events', 'elecs', 'freqs', 'blockno']):
    tmp = df.iloc[0:751,:]
    break
    tmp = tmp.resample('25ns', on='datetime').mean()
    tmp.reset_index(drop=True, inplace=True)
    newdf = pd.concat([newdf, tmp])
newdf = newdf.round({'time':0})    
newdf.reset_index(drop=True, inplace=True)

In [61]:
dsrate=15
tmp.resample(f'{dsrate}ns', on='datetime').mean()

,events,blockno,elecs,freqs,time,pow,phase,response,view1,view2,view3
datetime,,,,,,,,,,,
1970-01-01 00:00:00.000000000,1.0,1.0,1.0,1.0,7.5,2.389981,-1.849062,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000015,1.0,1.0,1.0,1.0,22.0,2.217858,-1.447794,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000030,1.0,1.0,1.0,1.0,37.0,2.042263,-1.078791,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000045,1.0,1.0,1.0,1.0,52.0,1.884469,-0.760976,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000060,1.0,1.0,1.0,1.0,67.0,1.766920,-0.489638,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000075,1.0,1.0,1.0,1.0,82.0,1.710398,-0.239011,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000090,1.0,1.0,1.0,1.0,97.0,1.719279,0.015471,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000105,1.0,1.0,1.0,1.0,112.0,1.786889,0.306289,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000120,1.0,1.0,1.0,1.0,127.0,1.882831,0.625122,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000135,1.0,1.0,1.0,1.0,142.0,1.994067,0.975490,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000150,1.0,1.0,1.0,1.0,157.0,2.109970,1.340955,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000165,1.0,1.0,1.0,1.0,172.0,2.234184,1.744007,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000180,1.0,1.0,1.0,1.0,187.0,2.361735,2.167227,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000195,1.0,1.0,1.0,1.0,202.0,2.488484,2.609709,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000210,1.0,1.0,1.0,1.0,217.0,2.604394,0.975518,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000225,1.0,1.0,1.0,1.0,232.0,2.705739,-2.737243,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000240,1.0,1.0,1.0,1.0,247.0,2.795565,-2.241829,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000255,1.0,1.0,1.0,1.0,262.0,2.878182,-1.732077,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000270,1.0,1.0,1.0,1.0,277.0,2.953719,-1.210317,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000285,1.0,1.0,1.0,1.0,292.0,3.022449,-0.681372,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000300,1.0,1.0,1.0,1.0,307.0,3.081278,-0.144354,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000315,1.0,1.0,1.0,1.0,322.0,3.134113,0.399377,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000330,1.0,1.0,1.0,1.0,337.0,3.179126,0.946424,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000345,1.0,1.0,1.0,1.0,352.0,3.216516,1.493192,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000360,1.0,1.0,1.0,1.0,367.0,3.245232,2.046100,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000375,1.0,1.0,1.0,1.0,382.0,3.267656,2.602587,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000390,1.0,1.0,1.0,1.0,397.0,3.280266,-0.190230,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000405,1.0,1.0,1.0,1.0,412.0,3.285507,-2.563000,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000420,1.0,1.0,1.0,1.0,427.0,3.283000,-2.002235,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000435,1.0,1.0,1.0,1.0,442.0,3.275161,-1.444851,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000450,1.0,1.0,1.0,1.0,457.0,3.257113,-0.890204,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000465,1.0,1.0,1.0,1.0,472.0,3.225120,-0.339406,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000480,1.0,1.0,1.0,1.0,487.0,3.181683,0.211206,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000495,1.0,1.0,1.0,1.0,502.0,3.124027,0.762955,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000510,1.0,1.0,1.0,1.0,517.0,3.047965,1.318616,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000525,1.0,1.0,1.0,1.0,532.0,2.957504,1.886173,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000540,1.0,1.0,1.0,1.0,547.0,2.856806,2.468002,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000555,1.0,1.0,1.0,1.0,562.0,2.745938,0.960243,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000570,1.0,1.0,1.0,1.0,577.0,2.623783,-2.637412,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000585,1.0,1.0,1.0,1.0,592.0,2.492486,-2.050889,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000600,1.0,1.0,1.0,1.0,607.0,2.343692,-1.469779,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000615,1.0,1.0,1.0,1.0,622.0,2.170106,-0.892966,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000630,1.0,1.0,1.0,1.0,637.0,1.944320,-0.330967,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000645,1.0,1.0,1.0,1.0,652.0,1.615210,0.214343,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000660,1.0,1.0,1.0,1.0,667.0,1.011095,0.732507,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000675,1.0,1.0,1.0,1.0,682.0,-0.339172,-0.135417,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000690,1.0,1.0,1.0,1.0,697.0,0.909540,-1.232909,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000705,1.0,1.0,1.0,1.0,712.0,1.544016,-0.772804,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000720,1.0,1.0,1.0,1.0,727.0,1.880596,-0.287147,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000735,1.0,1.0,1.0,1.0,742.0,2.104356,0.217425,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000750,1.0,1.0,1.0,1.0,750.5,2.209058,0.505051,2.0,0.509735,0.30005,0.035447

In [ ]:
dsrate=15
ds_string = f'{dsrate}ns'

In [33]:
x = pd.DataFrame(np.arange(-750,751,step=2),index=np.arange(1,752), columns=['time'])
x

     time
1    -750
2    -748
3    -746
4    -744
5    -742
6    -740
7    -738
8    -736
9    -734
10   -732
11   -730
12   -728
13   -726
14   -724
15   -722
16   -720
17   -718
18   -716
19   -714
20   -712
21   -710
22   -708
23   -706
24   -704
25   -702
26   -700
27   -698
28   -696
29   -694
30   -692
..    ...
722   692
723   694
724   696
725   698
726   700
727   702
728   704
729   706
730   708
731   710
732   712
733   714
734   716
735   718
736   720
737   722
738   724
739   726
740   728
741   730
742   732
743   734
744   736
745   738
746   740
747   742
748   744
749   746
750   748
751   750

[751 rows x 1 columns]

In [48]:
xx = tmp.resample('15ns', on='datetime').mean()
xx = xx.round({'time':0})

In [50]:
t_idx = np.arange(1,126)
t_idx

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125])

In [54]:
xx.loc[(xx['time'].isin(t_idx))]

,events,blockno,elecs,freqs,time,pow,phase,response,view1,view2,view3
datetime,,,,,,,,,,,
1970-01-01 00:00:00.000000000,1.0,1.0,1.0,1.0,8.0,2.389981,-1.849062,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000015,1.0,1.0,1.0,1.0,22.0,2.217858,-1.447794,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000030,1.0,1.0,1.0,1.0,37.0,2.042263,-1.078791,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000045,1.0,1.0,1.0,1.0,52.0,1.884469,-0.760976,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000060,1.0,1.0,1.0,1.0,67.0,1.766920,-0.489638,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000075,1.0,1.0,1.0,1.0,82.0,1.710398,-0.239011,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000090,1.0,1.0,1.0,1.0,97.0,1.719279,0.015471,2.0,0.509735,0.30005,0.035447
1970-01-01 00:00:00.000000105,1.0,1.0,1.0,1.0,112.0,1.786889,0.306289,2.0,0.509735,0.30005,0.035447

In [ ]:
sns.barplot(x='starttime', y='auc_z', hue='startfreq', data=scores)

In [ ]:
scores['auc_z'] = scores['auc_z'].str.split(expand=True)[1].astype(dtype='float64')

In [ ]:
scores.auc_z.dtype

In [ ]:
r1 = data[data['response']==1]

In [ ]:
r1['class']=1
r1['blockno']=1

In [ ]:
keep_pow=False
keep_phase=True

if keep_pow and keep_phase:
    features = 'all'
elif keep_pow and not keep_phase:
    features = 'pow'
elif not keep_pow and keep_phase:
    features= 'phase'  
features

In [ ]:
def gen_wide_df(df, f_idx, t_idx, keep_pow, keep_phase):
    """

    :param df:
    :param f_idx:
    :param t_idx:
    :return: df
    """

    df = df.loc[(df['time'].isin(t_idx)) & (df['freqs'].isin(f_idx))]

    # z-score within block
    gb = df.groupby(['elecs', 'freqs', 'blockno'])
    if keep_pow:
        df['zpow'] = gb['pow'].apply(zscore)
    if keep_phase:
        df['sin'] = gb['phase'].apply(np.sin)
        df['cos'] = gb['phase'].apply(np.cos)

    df.drop(['pow', 'phase'], inplace=True, axis=1)

    df = pd.pivot_table(df,
                        index=['class', 'blockno', 'events'],
                        columns=['elecs', 'freqs', 'time'],
                        aggfunc=[lambda x: x])

    elecs = df.columns.get_level_values('elecs')
    freqs = df.columns.get_level_values('freqs')
    time = df.columns.get_level_values('time')
    ncol = len(elecs)
    df.reset_index(drop=False, inplace=True)
    return df, elecs, freqs, time, ncol

In [ ]:
df, elecs, freqs, time, ncol = gen_wide_df(r1, list(range(1,14)), list(range(1,125)), keep_pow, keep_phase)

In [ ]:
view_conds = [f'view{x}' for x in range(1,4)]
cond='view1'

In [ ]:
view_conds.append('response')
view_conds.remove(cond)

In [ ]:
view_conds

In [ ]:
data.columns

In [ ]:
cols_to_drop = [f'view{x}' for x in range(1,4)]

In [ ]:
cols_to_drop.append('response')

In [ ]:
cols_to_drop.remove(cond)

In [ ]:
cols_to_drop

In [ ]:
cols_to_drop = [f'view{x}' for x in range(1,4)]+['response']

In [ ]:
cols_to_drop

In [ ]:
np.array([10,50,100])